/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Переменные для шрифтов */
  --main-font: 'Inter', Arial, sans-serif;
  --accent-font: 'PressStart2P', 'Courier New', monospace;
  
  /* Переменные для веса вариативного шрифта */
  --main-font-weight: 410;
  --title-font-weight: 715;
  --container-width: clamp(375px, 100% - 40px, 700px);
  
  /* Альтернативная переменная для толщины через font-variation-settings */
  --font-weight-normal: var(--main-font-weight);
  --font-weight-bold: var(--title-font-weight);

  --themes-main-color: #000000;    /* Черный цвет для текста */
  --themes-background: #FFFFFF;   /* Белый цвет для обводки и границы */
  --text-stroke-color: #FFFFFF;   /* Теперь обводка текста белая */
  --accent-color: #000000;

  --accent-color: #000000; /* Акцентный цвет (черный) */
  --button-hover-bg: #000000; /* Фон при наведении */
  --text-color-white: #FFFFFF;
  --text-color-black: #000000;

  --contour-color: #000000;      /* Цвет контура по умолчанию */
  --fill-color: #000000;         /* Цвет заливки при наведении */
  --active-fill-color: #FF0000;       /* Красный цвет при активных состояниях */

   --grid-gradient: 
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}